{% extends 'default.html' %}
{% block title %}Войдите{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Вход</h1>
      {% if form.errors %}
      <p>Ошибка: пароль или логин неправильные. Попробуйте снова</p>
      {% else %}
      <p>введите логин/пароль:</p>
      {% endif %}
      <form action="" method="POST">
      {{ form }}
      {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <button class="btn btn-outline-dark" type="submit">Войти</button>
      </form>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-8">
      <a href="{% url 'register' %}">зарегистрироваться</a>
    </div>
  </div>
</div>
<br>
{% endblock %}
